@model MVC_FinalProject.Models.Student

@{
    ViewData["Title"] = "Detail";
}

<h1>Detail</h1>
<div>
    <h4>Student</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreateDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreateDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
    </dl>
</div>
<div>  <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> </div>
<h3>已選課程</h3>
@if (Model.TableEnrollments1121645 != null && Model.TableEnrollments1121645.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>課程名稱</th>
                <th>老師</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var enrollment in Model.TableEnrollments1121645)
            {
                <tr>
                    <td>@enrollment.TableCourses1121645.CourseName</td>
                    <td>@enrollment.TableCourses1121645.Teacher</td>
                    <td>
                        <form asp-controller="Enrollment" asp-action="DropCourse" method="post">
                            <input type="hidden" name="studentId" value="@Model.Id" />
                            <input type="hidden" name="courseId" value="@enrollment.CourseId" />
                            <button type="submit" class="btn btn-danger">退選</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>尚未選課。</p>
}

<div>
    <a asp-action="Index">← 上一頁</a>
</div>


